.topBar {
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff6e40;
    position: fixed;
    z-index: 1;
}

.divLang {
    width: 100%;
    text-align: right;
    border-bottom: #222222 dashed 5px;
}

.langGif {
    width: 9rem;
    height: 2rem;
    margin-right: 10px;
}